@page
@model EditSkillsMatrix.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Teams and Users List</h1>

<p>
        <a asp-page="Create" class="btn btn-success" style="float: left;">
        <i class="bi bi-tree">  </i>Create a new team member <i class="bi bi-cheese"></i>
    </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserList[0].Team)
            </th>
               <th>
                @Html.DisplayNameFor(model => model.UserList[0].Business)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Business)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
